<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/cah.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="javascript/googleCarts.js" defer></script>
    
    <title>ContaBill - Principal</title>
</head>
<body>
    <header class="header">
        <h1 class="title">ContáBill</h1>
        <nav id="mnav">
            <a class="mlink" href="entrada.html">Entradas</a>
            <a class="mlink" href="out.html">Saídas</a>
        </nav>
        <div id="dpperfil"></div>
    </header>
    <main>
        <div id="graphs">
            <div id="column_chart"></div>
            <div id="pie_chart"></div>
        </div>
        
    </main>
</body>
</html>l