<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>ContáBill</title>
</head>
<body>
    <header id="header">
        <h1>ContáBill</h1>
        <h2>Salve tudo o que entra e sai de seu banco!
            <br>Comece agora mesmo a controlar suas finanças pessoais.
        </h2>
        <nav>
            <a href="./views/register.html">Registrar-se</a>
            <a href="./views/login.html">Entrar</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script src="./javascript/app.js"></script>
</body>
</html>