<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>ContáBill</title>
</head>
<body>
    <img src="style/imgs/Nitro_Wallpaper_01_3840x2400.jpg" alt="Wallpaper" id="bg-image">
    <header id="header">
        <h1 id="title">ContáBill</h1>
        <h2>Salve tudo o que entra e sai de seu banco!
            <br>Comece agora mesmo a controlar suas finanças pessoais.
        </h2>
        <nav id="nav">
            
            <a id="links" href="./views/register.html"><i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i> Registrar-se</a>
            <a  id="links" href="./views/login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-2xs"></i> Entrar</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/2f2151944f.js" crossorigin="anonymous"></script>
    <script src="./javascript/app.js"></script>
</body>
</html>