<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="javascript/gcharts.js" defer></script>
    <title>ContáBill</title>
</head>
<body>
    <img src="style/imgs/db.jpeg" alt="Wallpaper" id="bg-image">
    <header class="header">
        <h1 class="title">ContáBill</h1>
        <h2 id="subti">Salve tudo o que entra e sai de seu banco!
            <br>Comece agora mesmo a controlar suas finanças pessoais.
        </h2>
        <nav id="nav">
            <a id="links" href="register.html"><i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i> Registrar-se</a>
            <a  id="links" href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-2xs"></i> Entrar</a>
        </nav>
    </header>
    <main>
        <div>
            <section id="info">
                <h3 id="info-title">Por que usar o ContáBill?</h3>
                <p id="info-text">O ContáBill é uma aplicação web desenvolvida para ajudar você a gerenciar suas finanças pessoais de forma simples e eficiente. Com ele, você pode registrar todas as suas transações financeiras, acompanhar seus gastos e receitas, e obter insights valiosos sobre sua saúde financeira.</p>
            </section>
            <section id="features">
                <h3 id="features-title">Recursos Principais</h3>
                <ul id="features-list">
                    <li>Registro de Transações: Adicione facilmente entradas e saídas financeiras com detalhes como data, categoria e descrição.</li>
                    <li>Dashboard Intuitivo: Visualize suas finanças em gráficos e tabelas fáceis de entender.</li>
                    <li>Categorias Personalizadas: Organize suas transações em categorias que façam sentido para você.</li>
                </ul>
            </section>
            <div id="donut_chart"></div>
            <div id="line_chart"></div>
        </div>
        <!--<form id="form">
        <input type="email" id="mail">
        <button type="submit">Buscar Usuário</button>
        </form>-->
    </main>
    <script src="https://kit.fontawesome.com/2f2151944f.js" crossorigin="anonymous"></script>
    <script src="./javascript/app.js"></script>
</body>
</html>