<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <script type="text/javascript" src="javascript/main.js" defer></script>
    <title>ContaBill - Principal</title>
</head>
<body>
    <header class="header">
        <h1 class="title">ContáBill</h1>
        <nav>
            <a class="clink" href="charts.html">Dashboard</a>
            <a class="mlink" href="usr.html">Início</a>
        </nav>
    </header>
    <main>
        <h2>Bem-vindo ao ContáBill!</h2>
        <p>Esta é a página principal do aplicativo de gerenciamento financeiro.</p>
    </main>
</body>
</html>l