@import url(index.css);
@import url(params.css);
.mlink{
    color: white;
    transition: 0.5s ease;
    font-family: 'cooperBlack';
    
}.mlink:hover{
    text-decoration: dotted underline;
    color: red;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 10px;
}

.out{
    color: white;
    transition: 0.5s ease;
    font-size: 20px;
    
}.out:hover{
    text-decoration: dotted underline;
    color: red;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 10px;
}

.clink{
    color: white;
    transition: 0.5s ease;
    
}.clink:hover{
    text-decoration: dotted underline;
    color: red;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 10px;
}

.hlink{
    color: white;
    transition: 0.5s ease;
    font-size: 20px;
    
}.hlink:hover{
    text-decoration: dotted underline;
    color: red;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 10px;
}

.ulink{
    color: white;
    transition: 0.5s ease;
    
}.ulink:hover{
    text-decoration: dotted underline;
    color: red;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 10px;
}